:root{
    --primary:#121212;
    --secondary:#FF783D;
    --lightText:#FAF3E1;
}


html{
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
    font-family: "Space Grotesk";
}

.header__container{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

/*  Reset Style  */

a{
    text-decoration: none;
    font-family: "Space Grotesk";
}

ul{
    list-style: none;
}

/*  Nav  */


/*  nav__items  */

.nav__items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav__item-link{
    color: var(--lightText);
    font-family: "Manrope";
    font-size: 16px;
}

/*  Nav Link  */

.nav__link-active{
    color: var(--secondary);
    transition: all 0.3s ease;
}

.nav__item-link:not(.nav__link-active):hover{
    color: var(--secondary);
    transition: all 0.3s ease;
}

.nav:hover .nav__link-active{
    color: white;
    transition: all 0.3s ease;
}

.nav__link-active:hover {
    color: var(--secondary) !important;
    transition: all 0.3s ease;
}



/*  Header Button  */

.header__center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:280px;
}

.header__button svg{
    margin-left: -50px;
    z-index: 0;
}

.header__button-link{
    color: var(--lightText);
    font-family: "Manrope-Medium";
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
    backdrop-filter: blur(7px);
    padding: 10px;
    border-radius: 25px;
    width: 245px;
}

/*  Nav Mobile  */

.nav__mobile{
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    right: -280px;
    width: 150px;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -150px;
    margin-top: 8px;
}

.nav__mobile-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-right: 30px;
}

.nav__mobile-link{
    color: white;
    font-size: 12px;
}


/*  Hamburger Menu  */

.hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px; 
    height: 20px; 
    background-color: transparent; 
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger .bar{
    display: block;
    height: 3px; 
    width: 100%; 
    background-color: #EEF6FF;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.nav__mobile.active {
    margin-left: 0px;
    transition: all 0.3s ease-in-out;

}

/*  Hero  */

.hero {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 60px 60px;
  background-color: var(--primary);
}

.hero__text-title{
    color: var(--lightText);
    font-size: 64px;
    line-height: 75px;
    font-family: "Suwannaphum";
}

.highlight{
    color: var(--secondary);
    font-size: 64px;
    line-height: 75px;
    font-family: "Allura";
}

.hero__text-detailes{
    line-height: 30px;
    color: var(--lightText);
    font-size: 18px;
    font-family: "Manrope-Medium";
}