@media (max-width:1250px) {
    .nav__item-link{
        font-size: 12px;
    }
}

@media (max-width:992px) {
    .nav{
        display: none;
    }

    .header__container{
        padding: 50px 70px;
        justify-content: space-between;
    }

    .header__button{
        
    }

    .header__button-link{
        border: none;
        background-color: transparent;
        font-size: 14px;
    }

    .header__button svg{
        width: 20px !important;
        height: 20px !important;
        margin-left: -85px;
    }


    .header__center{
       gap: 200px;
    }

    .hamburger{
        display: flex;
    }

    .hero{
        flex-direction: column;
    }

}

@media (max-width:768px) {

    .header__container{
        gap: 100px;
        justify-content: center;
    }

    .header__center{
         gap: 50px;
    }
}

@media (max-width:576px) {
    .header__center{
         gap: 20px;
    }  
    
    .header__container{
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width:480px) {

    .header__container{
        gap: 30px;
    }

    .header__logo-link img{
        width: 55px;
    }
    .header__button{
        width: 150px;
    }

    .header__button-link{
        font-size: 12px;
        line-height: 0;
        backdrop-filter: blur(0);
        padding: 0;
    }

    .header__center{
        gap: 35px;
    }
}