@media (max-width:1250px) {
    .nav__item-link{
        font-size: 12px;
    }

    .hero__text-title{
        font-size: 30px;
    }

    .hero__text-detailes{
        font-size: 11px;
    }

    .img{
        width: 450px;
    }
}

@media (max-width:992px) {
    .nav{
        display: none;
    }

    .header__container{
        padding: 50px 70px;
        justify-content: space-between;
    }

    .header__button{
        
    }

    .header__button-link{
        border: none;
        background-color: transparent;
        font-size: 14px;
    }

    .header__button svg{
        width: 20px !important;
        height: 20px !important;
        margin-left: -85px;
    }


    .header__center{
       gap: 200px;
    }

    .hamburger{
        display: flex;
    }

    .hero{
        flex-direction: column;
    }

    .hero__text-title{
        font-size: 64px;
    }

    .hero__text-detailes{
        font-size: 18px;
    }

    .img{
        width: 699px;
    }

    .logo-container {
    justify-content: flex-start;
  }
  
  .logo-item {
    width: calc(33.33% - 20px); 
  }

  .logo-item img {
    max-width: 100%; 
  }

  .review-card{
    flex:  0 0 340px;
    min-width: 340px;
  }

  .review-text{
    font-size: 15px;
  }

}

@media (max-width:768px) {

    .header__container{
        gap: 25px;
        justify-content: center;
    }

    .header__center{
         gap: 50px;
    }

    .hero__text-title{
        font-size: 32px;
        line-height: 36px;
    }

    .highlight{
        font-size: 32px;
    }

    .hero__text-detailes{
        font-size: 13px;
        line-height: 35px;
    }

    .img{
        width: 500px;
    }
}

@media (max-width:576px) {
    .header__center{
         gap: 20px;
    }  
    
    .header__container{
        padding: 20px;
    }

    .img{
        width: 400px;
    }

    .hero__text-title{
        font-size: 29px;
        line-height: 36px;
    }

    .highlight{
        font-size: 29px;
    }

    .hero__text-detailes{
        font-size: 10px;
        line-height: 35px;
    }

    .watermark{
        top: -15px;
        font-size: 40px;
    }

    .testimonials-header h2{
        font-size: 18px;
        font-family: "Suwannaphum";
        font-weight: 400px;
    }

    .testimonials-header p {
        font-size: 14px;
        font-family: "Manrope-Regular";
        line-height: 21px;
        margin-top: -15px;
    }

    .user__title{
        text-align: center;
    }

    .user__title h2{
  font-size: 18px;
}

.user__title p{
  font-size: 12px;
  line-height: 21px;
}

.profile-card {
    width: 340px;
    min-width: 340px; 
    margin: 0 auto;
}

.profile-name{
    font-size: 10px;
}

.card-top{
    gap: 40px;
}

.stat-item strong, span{
    font-size: 10px;
}

.comparison-track{
    gap: 0;
}


@media (max-width:480px) {

    .header__container{
        gap: 30px;
    }

    .header__logo-link img{
        width: 55px;
    }
    .header__button{
        width: 150px;
    }

    .header__button-link{
        font-size: 12px;
        line-height: 0;
        backdrop-filter: blur(0);
        padding: 0;
    }

    .header__center{
        gap: 35px;
    }

    .img{
        width: 300px;
    }

    .hero{
        margin-top: -45px;
    }

    .hero__text-title{
        font-size: 23px;
        line-height: 25px;
        margin-left: -80px;
    }

    .hero__text-detailes{
        font-size: 6px;
        line-height: 20px;
        margin-left: -80px;
    }

    .highlight{
        font-size: 23px;
        line-height: 20px;
    }

     .testimonials-container {
    display: flex;
    flex-direction: column; 
    overflow-x: visible; 
    gap: 30px; 
  }

  .summary-card {
    min-width: 300px;
    flex: 0 0 0;
    margin-left: -38px;
  }

  .reviews-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 15px; 
    padding-bottom: 20px;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    margin-left: -38px;
  }

  .reviews-wrapper::-webkit-scrollbar {
    display: none;
  }

  .review-card {
    flex: 0 0 300; 
    min-width: 300px; 
    width: auto;
  }

  .section-header{
    margin-bottom: 0;
  }

  .section-header h2 {
  font-size: 18px;
  line-height: 36px;
  margin: 0 0 10px 0;
}
.section-header p {
  font-size: 13px;
  line-height: 21px;
  margin-top: -12px;
}

  .slide { width: 200px; height: 280px; margin: 0 -20px; }
  .slider-container { height: 350px; }

  #prevBtn, #nextBtn {
    display: none !important;
  }

  .slide.active {
    width: 420px !important;
    height: 280px !important;
    transform: scale(1) !important; 
  }

  .profile-comparison-section {
    margin-top: 0;
  }

  .comparison-header{
    margin-left: 60px;
  }
  .comparison-slide{
    margin-left: -40px;
  }

  #name-cart{
    font-size: 16px;
  }

  .arrow-icon{
    font-size: 20px;
    margin-bottom: 6px;
  }
}
}